body{
    background-color: #444;
    color: #FFF;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serifz;
    font-weight: 300;
    font-size: 2rem;
}

h1, h2{
    font-weight: 300;
}